@import "partials/variables";
//funzioni, mixin etc. etc.

@import "partials/buttons";
@import "partials/header";
//altro partial

h1 {
  color: $rosso;
  background-color: aliceblue;
}

div.grande {
  width: 50%;
  aspect-ratio: 1/1;
  background-color: green;
  //div.grande div.piccolo
  div.piccolo {
    width: calc(100% - 50px);
    //120px - 45.57px
    //SE STESSA UNITA' ANCHE SENZA CALC
    aspect-ratio: 1/1;
    background-color: rebeccapurple;
    h2 {
      color: aqua;
      &:hover {
        color: fuchsia;
      }
    }
    
    // h2:hover {
    //     color: fuchsia
    // }
  }
}
